#surfshark .main-image {
    background-position: center;
}

.style-guide {
    background: #444;
    padding: 2.5rem 1.5rem 7rem 1.5rem;
    margin-top: 2rem;
}

.libraries {
    background: #252525;
    padding: 2rem;
}
#surfshark .libraries h2 {
    margin-bottom: 1.5rem;
}


.libraries .links {
    display: flex;
    justify-content: center;
}
.libraries .links .link {
    margin: 0 .75rem;
}

.libraries .links a i {
    color: #1b1817 !important;
    font-size: 2rem;
}
.libraries .links .link span {
    font-weight: 100;
    font-size: .9rem;
}
@media (max-width: 767.98px) {
    #gamer .libraries h2 {
        margin-bottom: 2rem;
    }
    .libraries .library:not(:first-child) {
        margin-top: 2.5rem;
    }
}